body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bonsai.jpg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right;
}

#app {
  width: 50%;
  margin: auto;
  padding: 50;
}

a {
  color: #5cb85c;
  font-style: normal;
  text-decoration:none;
}
